@import "../../variables.scss";

.wish_container {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 2rem;

  .alert_box {
    display: flex;
    align-items: center;
    justify-content: center;
    .empty {
      // color: #444;
      font-size: 2rem !important;
      color: red;
      background: $white;
      padding: 1rem;
      border: 1px solid #777;
      width: 70%;
      text-align: center;

      @media (max-width: 450px) {
        width: 90%;
      }
    }
  }

  .heading {
    text-align: center;

    h1 {
      font-size: 2.8rem;
      color: #444;
    }
  }

  .grid_container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    // place-items: center;

    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 450px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .box {
      width: 100%;
      padding: 2rem 0;
      background: rgb(235, 234, 234);
      box-shadow: $shadow-1;
      border: 1px solid #000;
      position: relative;

      .cat {
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        border: 1px solid rgb(24, 128, 224);
        padding: 0.5rem 2rem;

        h2 {
          color: rgb(24, 128, 224);
        }
      }

      .img_box {
        height: 17rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .info_box {
        margin-top: 3rem !important;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;

        h2 {
          font-size: 1.9rem;
        }

        .price {
          font-size: 2rem;
        }
      }

      .flex-btns {
        padding: 0 1.8rem;
        margin-top: 2rem !important;
        display: flex;
        align-items: center;
        gap: 1rem !important;
        justify-content: space-between;

        div {
          width: 100%;
          height: 4rem;
          border: 0.2rem solid #444;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          .icon {
            color: #444;
            font-size: 2.3rem;
          }
        }
      }
    }
  }
}
