@import "../../variables.scss";

.modalBackground {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(63, 62, 62, 0.5), rgba(58, 57, 57, 0.5));
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;

  .modalContainer {
    width: 430px;
    height: fit-content;
    border-radius: 0.6rem;
    background-color: $white;
    box-shadow: $shadow-2;
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;

    .close_modal {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;
      background: rgb(236, 233, 233);
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      .icon {
        font-size: 2rem;
      }
    }

    .title {
      display: inline-block;
      text-align: center;
      margin-top: 1rem;
      font-size: 1.5rem;
      color: $orange;
    }

    .form_box {
      display: flex;
      margin-top: 3rem;

      form {
        width: 100%;
        input {
          width: 100%;
          padding: 1rem 1rem;
          margin-bottom: 1rem;
          border: none;
          border-bottom: 1px solid $orange;
          outline: none;
        }

        button {
          margin-top: 1.3rem;
          width: 100%;
          padding: 1.6rem 1.6rem;
          font-size: 1.7rem;
          text-transform: capitalize;
          background: $orange;
          border: 1px solid $orange;
          outline: none;
          color: #fefef4;
          cursor: pointer;
        }
      }
    }
  }
}
